.vs/**
**/bin/**
**/obj/**
debug.log
*.log
*.csv
*.csv
*.csv
*.csv
Services.Algorithm/algorithmStatus.json
GuidoTests/Results/**
Services.Algorithm/Temp/**
TravelTimeProvider.Service.Tests/Resources/centro-latest.osm.pbf
Services.TravelTimes.Provider/Temp/**
Services.TravelTimes.Provider/Model/**
Services.Algorithm/Dumps/**
Services.RequestDispatcher/Dumps/**
Services.SupplyProvider/Dumps/**
Services.TravelTimes.Provider/**
Services.TravelTimes.Provider/Model/andorra-latest.osm.pbf.net
mutation_test.ps1
